<header class="bg-dark text-white p-3 d-flex justify-content-between align-items-center">
  <a class="text-white text-decoration-none" routerLink="/home">  
    <h4 class="mb-0">UG | Sistema de Eventos </h4>
  </a>

  <div>
    @if (estaLogueado) {
      <a routerLink="/cuenta" class="text-white me-3">Mi Cuenta</a>
      <button class="btn btn-danger" (click)="logout()">Salir</button>
    } @else {
      <button class="btn btn-primary" (click)="irCuenta()">Iniciar Sesión</button>
    }
  </div>
</header>